<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marcado libre</title>
        <link rel="stylesheet" href="/stylesheets/clase1.css">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
<body>
    <header>
        <div class="logo-busq">
            <a href="/home"><img class="logo-marcadolibre" src="/images/logo-mercado-liebre.svg" alt=""></a>

            <div class="buscador">
                <input class="buscar input" type="text" name="busqueda" placeholder="Buscar productos, marcas y más."> <i class="fas fa-search"></i>
            </div>

            <p class="aparece"><i class=" fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
            <p class="desaparece"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        <div class="busqueda">
            <i class="fas fa-bars"></i>  
        </div>

        <div class="nav">
            <div class="separados">
                <ul>
                    <li><a href="ofertas.html">Ofertas</a></li>
                    <li><a href="tiendas.html">Tiendas Oficiales</a></li>
                    <li><a href="ventas.html">Vender</a></li>
                    <li><a href="ayuda.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="separados">
                <ul>
                    <li><a href="/login">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                    <li><a href="/registro">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/mis-compras">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>

        </div>
    </header>
    
    <div class="main">
        <main class="login">
            <label for="#"></label>
            
            <input class="input" type="text" name="nombre-usuario" placeholder="nombre de usuario">
            
            <input class="input" type="text" name="contra" placeholder="Contraseña">
            
            <input class="enviar" type="submit" value="Enviar">
        </main>
    </div>

    <footer>
        <div class="info">
            <article>
                
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde los $ 2.500</h3>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
            </article>
        

            <div class="final">
                <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>
</html>